# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore Python cache files
__pycache__/

# Ignore environment files
.env

# Ignore all files in .streamlit folder except config.toml
.streamlit/*
!.streamlit/config.toml

# Ignore IDE-specific files
.vscode/
.idea/
